<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-1tymk6x9Y5K+OF0tlmG2fDRcn67QGzBkiM3IgtJ3VrtGrIi5ryhHjKjeeS60f1FA" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-custom mb-4">
      <a class="navbar-brand" href="/">YelpCamp <i class="fas fa-map-signs"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li
            class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"
          >
            <a href="/campgrounds" class="nav-link">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if(!currentUser){ %>
          <li
            class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"
          >
            <a href="/login" class="nav-link">Login <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li
            class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"
          >
            <a href="/register" class="nav-link">Sign Up <i class="fas fa-user-plus"></i></a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a href="#" class="nav-link"
              >Signed In As <%= currentUser.username %></a
            >
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length>0) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %> <% if(success && success.length>0) { %>
      <div class="alert alert-success" role="alert"><%= success %></div>
      <% } %>
    </div>
    <div class="container">
